
@font-face {
    font-family: 'Didot-Bold';
    src: url(/fonts/Didot-Bold.woff2) format('woff2');
    font-weight: bold;
}


@font-face {
    font-family: 'Didot';
    src: url(/fonts/Didot.woff2) format('woff2');
    font-weight: normal;
}


/* Responsive Breakpoints  */
@media (min-width: 1441px) {
    .page-container {
        width: 1440px;
        margin: auto;
    }
}


@media (min-width: 800px) {
    /* Accordion Section Styling */
    .faq-container {
        font-family: "Didot", serif;
        margin: 0 auto;
        width: 70%;
        color: #fff;
    }

    .faq-container h2 {
        font-family: 'Didot';
        font-weight: normal;
        font-size: 59px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 7%;

    }

    .accordion .accordion-item {
        border-bottom: 1px solid #e5e5e5;
    }

    .accordion .accordion-item button[aria-expanded=true] {
        border-bottom: 1px solid #fff;
    }

    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        margin-bottom: 10px;
    }

    .accordion button:hover,
    .accordion button:focus {
        cursor: pointer;
        color: #fff;
    }

    .accordion button:hover::after,
    .accordion button:focus::after {
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
    }

    .accordion button .accordion-title {
        padding: 1em 1.5em 1em 0;
        font-family: "Didot";
    }

    .accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
    }

    .accordion button .icon::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }

    .accordion button .icon::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }

    .accordion button[aria-expanded=true] {
        color: #fff;
    }

    .accordion button[aria-expanded=true] .icon::after {
        width: 0;
    }

    .accordion button[aria-expanded=true]+.accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
    }

    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        margin-bottom: 25px;
        margin-top: -30px;
    }

    .accordion .accordion-content p {
        font-family: "Didot";
        font-size: 29px;
        font-weight: 300;
        margin: 1em 0;
        line-height: 1.4;
    }






}


@media (max-width: 1024px) {
    .faq-container h2 {
        font-family: 'Didot';
        font-weight: normal;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 7%;
    }



    .accordion button {
        font-size: 25px;
    }



    .accordion .accordion-content p {
        font-size: 20px;
        margin: 2.4em 0;
        line-height: 1.8;
    }


}



@media (max-width:800px) {
    .faq-container {
        font-family: "Didot", serif;
        margin: 0 auto;
        width: 100%;
        color: #fff;
    }

    .faq-container h2 {
        width: 80%;
        height: 98px;
        font-family: 'Didot';
        font-weight: normal;
        font-size: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
    }


    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        margin-bottom: 25px;
        margin-top: -30px;
    }

    .accordion .accordion-item {
        border-bottom: 1px solid #e5e5e5;
    }

    .accordion .accordion-item button[aria-expanded=true] {
        border-bottom: 1px solid #fff;
    }

    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #fff;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        margin-bottom: 10px;
    }

    .accordion button:hover,
    .accordion button:focus {
        cursor: pointer;
        color: #fff;
    }

    .accordion button:hover::after,
    .accordion button:focus::after {
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
    }

    .accordion button .accordion-title {
        padding: 1em 1.5em 1em 0;
        font-family: "Didot";
    }

    .accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
    }

    .accordion button .icon::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }

    .accordion button .icon::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }

    .accordion button[aria-expanded=true] {
        color: #fff;
    }

    .accordion button[aria-expanded=true] .icon::after {
        width: 0;
    }

    .accordion button[aria-expanded=true]+.accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
    }

   

    .accordion .accordion-content p {
        font-family: "Didot";
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
        line-height: 1.8rem;
    }


}



@media(max-width:425px) {

    /* —————————FAQ SECTION ——————————— */
    .faq-container h2 {
        width: 80%;
        font-family: 'Didot';
        font-weight: normal;
        font-size: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
    }


    .accordion{
        margin-top: 40px;
    }

    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #fff;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        margin-bottom: 25px;

    }






}

@media(max-width:375px) {

    .accordion button {
        font-size: 18px;
        font-weight: 400;
    }

    .faq-container h2 {
        font-family: 'Didot';
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
        margin-bottom: 7%;
        width: 100%;

    }

    .accordion button .accordion-title {
        padding: 1em 1em 16px 0;
        font-family: "Didot";
        margin: 5%;
    }

    .accordion .accordion-content p {
        font-family: "Didot";
        font-size: 16px;
        font-weight: 300;
        margin: 2em 0;
    }
}


@media(max-width:320px) {
    .accordion button {
        font-size: 16px;
        font-weight: 400;
    }

    .accordion button .accordion-title {
        padding: 1em 1em 16px 0;
        font-family: "Didot";
        margin: 5%;
    }

    .accordion .accordion-content p {
        font-family: "Didot";
        font-size: 14px;
        font-weight: 300;
        margin: 2em 0;
    }



}