html {
    scroll-behavior: smooth;
    font-size: 20px;
}

:root {
    --black: #171926;
}


body {
    padding-top: 3.3%;
    margin-right: 6.7%;
    margin-left: 6.7%;
    background: #000;
    color: white;
    font-family: 'Didot';

}

* {
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

/* Page Content */

@media(min-width:1441px) {
   .contact-container{
       width: 1440px;
       margin: auto;
   }
}


/* Max-width: 1440px */
@media(min-width:800px) {

    /* Big Parents */
    .section-one {
        margin-bottom: 10%;
    }

    .form-section {
        margin-bottom: 15%;
    }

    .section-three {
        margin-bottom: 10%;
        padding-right: 6.7%;
        padding-left: 6.7%;
    }


    /*  FIRST SECTION -  Header (Order) */
    .section-one #return-btn {
        width: 175px;
        font-family: Didot;
        font-weight: normal;
        font-size: 26px;
        text-align: left;
        color: #fff;
        border-bottom: 2px solid #fff;
    }


    .section-one .hero {
        display: flex;
        justify-content: space-between;

    }

    .section-one .hero h1 {
        width: 100%;
        font-family: Didot;
        font-weight: normal;
        font-size: 157px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;

    }

    .section-one #arrow {
        display: none;
    }

    .section-one #arrow-desktop {
        margin-top: 15%;
    }

    .section-one #sub-one {
        width: 717px;
        font-family: Didot;
        font-weight: normal;
        font-size: 50px;
        letter-spacing: -0.02em;
        line-height: 57px;
        text-align: left;
        color: #fff;

    }

    .section-one #sub-two {
        width: 100%;
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        letter-spacing: -0.02em;
        line-height: 27px;
        text-align: left;
        color: #fff;

    }

    /* SECOND SECTION —— FORM */
    #mobile-form {
        display: none;
    }

    .form-section {
        width: 72%;
        margin: auto;
        margin-bottom: 10%;
    }


    .form-section #desktop-form div {
        display: flex;
        margin-bottom: 3%;
        align-items: center;
    }

    .form-section #desktop-form label {
        font-family: Didot;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-section #desktop-form {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .form-section #desktop-form input,
    select,
    textarea {
        width: 375px;
        height: 54px;
        background: #fff;
        padding-left: 10px;
        font-family: Didot;
        font-size: 18px;
    }

    .form-section #desktop-form textarea {
        width: 546px;
        height: 175px;
        background: #fff;

    }

    ::placeholder {
        font-family: Didot;
        font-size: 18px;
    }


    .form-section #submit-btn {
        font-family: Didot;
        font-weight: normal;
        font-size: 22px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-left: 82%;

    }



    /* SECTION THREE */
    .section-three {
        padding-left: 6.7%;
        padding-right: 6.7%;
    }

    .section-three hr {
        border-color: #343434;
    }


    .section-three .info {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .section-three .info div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
    }

    .section-three .info h3 {
        font-family: Didot;
        font-weight: normal;
        font-size: 23px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #fff;
        margin-bottom: -10px;
    }

    .section-three .info p {
        font-family: Didot;
        font-weight: normal;
        font-size: 25px;
        text-align: left;
        color: #fff;
    }

    .section-three .info .info-one p {
        text-align: center;
    }

    .section-three .info .info-two h3 {
        margin-bottom: 8px;
        text-align: center;
    }

    .section-three .info .info-two a {
        margin-top: 10px;
        text-align: center;
        font-size: 22px;
    }

    .section-three .info .info-three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-three .info .info-three p {
        text-align: center;
        line-height: 42px;
    }

    .section-three .collab-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-three .collab-parent #collab {
        width: 826px;
        font-family: Didot;
        font-weight: normal;
        font-size: 67px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff;
    }

    .section-three .collab-parent button {
        width: 189px;
        height: 61px;
        border-radius: 30.5px;
        background: #fff;
        font-family: Didot;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #1e2028;
        margin: auto;
    }

    .section-three .collab-parent button a {
        color: #000;
    }

}


@media(max-width:1024px) {

    /*  FIRST SECTION -  Header (Order) */
    .section-one #return-btn {
        width: 175px;
        font-family: Didot;
        font-weight: normal;
        font-size: 26px;
        text-align: left;
        color: #fff;
        border-bottom: 2px solid #fff;
    }


    .section-one .hero {
        display: flex;
        justify-content: space-between;
    }

    .section-one .hero h1 {
        width: 100%;
        font-family: Didot;
        font-weight: normal;
        font-size: 107px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;

    }

    .section-one #arrow {
        display: none;
    }

    .section-one #arrow-desktop {
        margin-top: 15%;
    }

    .section-one #sub-one {
        width: 717px;
        font-family: Didot;
        font-weight: normal;
        font-size: 50px;
        letter-spacing: -0.02em;
        line-height: 57px;
        text-align: left;
        color: #fff;

    }

    .section-one #sub-two {
        width: 603px;
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        letter-spacing: -0.02em;
        line-height: 27px;
        text-align: left;
        color: #fff;

    }

    
    /* SECOND SECTION */
    .form-section {
        width: 92%;
        margin: auto;
        margin-bottom: 10%;
    }

    /* THIRD SECTION */
    .section-three .info div h3 {
        font-size: 19px;

    }

    .section-three .info div p {
        font-size: 16px;

    }


}


@media(max-width:800px) {

    /* Max starts here */
    /*  FIRST SECTION -  Header (Order) */
    .section-one #return-btn {
        width: 175px;
        font-family: Didot;
        font-weight: normal;
        font-size: 26px;
        text-align: left;
        color: #fff;
        border-bottom: 2px solid #fff;
    }


    .section-one .hero {
        display: flex;
        justify-content: space-between;

    }

    .section-one .hero h1 {
        width: 100%;
        font-family: Didot;
        font-weight: normal;
        font-size: 87px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;

    }

    .section-one #arrow {
        display: none;
    }

    .section-one #arrow-desktop {
        margin-top: 15%;
    }

    .section-one #sub-one {
        width: 100%;
        font-family: Didot;
        font-weight: normal;
        font-size: 33px;
        letter-spacing: -0.02em;
        line-height: 57px;
        text-align: left;
        color: #fff;

    }

    .section-one #sub-two {
        width: 65%;
        font-family: Didot;
        font-weight: normal;
        font-size: 17px;
        letter-spacing: -0.02em;
        line-height: 27px;
        text-align: left;
        color: #fff;
    }

    /* SECOND SECTION —— FORM */
    #desktop-form {
        display: none;
    }

    .form-section {
        width: 80%;
        margin: auto;
        margin-bottom: 10%;
    }


    .form-section #mobile-form label {
        font-family: Didot;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 36px;
    }

    .form-section #mobile-form {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .form-section #mobile-form input,
    select,
    textarea {
        width: 100%;
        height: 54px;
        background: #fff;
        padding-left: 10px;
        font-family: Didot;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .form-section #mobile-form textarea {
        width: 100%;
        height: 175px;
        background: #fff;

    }

    ::placeholder {
        font-family: Didot;
        font-size: 18px;
    }

    .form-section #submit-btn {
        font-family: Didot;
        font-weight: normal;
        font-size: 22px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-left: 82%;
    }



    /* SECTION THREE */
    .section-three {
        padding-left: 6.7%;
        padding-right: 6.7%;
    }

    .section-three hr {
        border-color: #343434;
    }


    .section-three .info {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

    }

    .section-three .info div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        margin-bottom: 10%;
    }

    .section-three .info h3 {
        font-family: Didot;
        font-weight: normal;
        font-size: 23px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #fff;
    }

    .section-three .info p {
        font-family: Didot;
        font-weight: normal;
        color: #fff;
    }

    .section-three .info .info-one p {
        text-align: center;
        font-size: 19px;
    }

    .section-three .info .info-two h3 {
        text-align: center;
    }

    .section-three .info .info-two a,
    info-ingle {
        margin-top: 10px;
        text-align: center;
        font-size: 19px;
    }

    .section-three .info .info-three {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-three .info .info-three p {
        text-align: center;
        line-height: 42px;
        font-size: 19px;
    }

    .section-three .collab-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-three .collab-parent #collab {
        width: 100%;
        font-family: Didot;
        font-weight: normal;
        font-size: 42px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff;
    }

    .section-three .collab-parent button {
        width: 189px;
        height: 61px;
        border-radius: 30.5px;
        background: #fff;
        font-family: Didot;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #1e2028;
        margin: auto;
        margin-bottom: 20%;
    }

    .section-three .collab-parent button a {
        color: #000;
    }


}



@media(max-width:425px) {

    /* FIRST SECTIOn */
    .section-one .hero h1 {
        font-family: Didot;
        font-weight: normal;
        font-size: 67px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;

    }

    .section-one #sub-two {
        font-family: Didot;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.02em;
        line-height: 28px;
        text-align: left;
        color: #fff;
        margin-bottom: 15%;
        width: 90%;
    }

    .section-one .hero #arrow-desktop {
        display: none;

    }


    /* SECOND SECTION */

    .form-section {
        width: 100%;
        margin-bottom: 10%;
    }

    .form-section input,
    select,
    textarea {
        width: 100%;
    }


    .form-section #submit-btn {
        margin: auto;
    }


    /* THIRD SECTION */
    .section-three .collab-parent #collab {
        font-size: 31px;
    }



}

@media(max-width:375px) {
    #return-btn {
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        text-align: left;
        color: #fff;
        border-bottom: 2px solid white;

    }

    .hero {
        display: flex;
        justify-content: space-between;
    }

    #arrow-desktop {
        display: none;
    }

    #arrow {
        margin-top: 230px;
        display: none;
    }

    #main-title {
        font-family: Didot;
        font-weight: normal;
        font-size: 70px;
        letter-spacing: -0.02em;
        line-height: 86px;
        text-align: left;
        color: #fff;
        width: 100%;
    }

    #sub-one {
        width: 90%;
        font-family: Didot;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: -0.02em;
        line-height: 17px;
        text-align: left;
        color: #fff;
        margin-bottom: 13%;
    }







    hr {
        width: 100%;
        border-color: rgb(59, 58, 58);
        margin: auto;
    }

    /* SECOND SECTION / FORM */

    .form-section {
        width: 100%;
        margin-bottom: 10%;
    }

    label {
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #fff;
        margin-bottom: 5%;

    }

    ::placeholder {
        font-family: "Didot";
        font-size: 19px;
    }

    form {
        display: flex;
        flex-direction: column;
    }


    #desktop-form {
        display: none;
    }

    #submit-btn {
        font-family: Didot;
        font-weight: normal;
        font-size: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #fff;
    }

    input,
    select {
        width: 100%;
        height: 47px;
        border-radius: 1px;
        background: #fff;
        padding-left: 10px;
        margin-bottom: 20px;
        -webkit-appearance: none;
        font-family: "Didot";
        font-size: 18px;
        /* Nice */
    }


    textarea {
        width: 100%;
        padding-left: 10px;
        font-family: Didot;
    }

    form {
        margin-bottom: 10%;
    }

    #submit-btn {
        margin-bottom: 10%;
    }


    /* THIRD & FINAL SECTION */
    .section-three {
        margin-top: 20%;
    }

    .info div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    ::placeholder {
        font-family: Didot;
        font-size: 18px;
    }

    .info h3 {
        font-family: Didot;
        font-weight: normal;
        font-size: 23px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #fff;
    }


    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info p {
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;

    }


    #info-ingle {
        margin-top: 10%;
    }

    .section-three .collab-parent {
        width: 100%;
        text-align: center;
        margin-bottom: 20%;
    }

    .section-three .collab-parent #collab {
        font-family: Didot;
        font-weight: normal;
        font-size: 27px;
        letter-spacing: 0.01em;
        text-align: center;
    }


    .section-three .collab-parent button {
        width: 171.06px;
        height: 50.57px;
        border-radius: 25.29px;
        background: #fff;
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        letter-spacing: -0.01em;
        line-height: 32px;
        text-align: center;
        color: #171926;
    }

    .collab-parent button a {
        color: black;
    }









}