@import "accordion.css";

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: #171926;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

body {
    font-family: 'Didot';
    background: #000;
    color: white;
}

*::before,
*::after {
    box-sizing: border-box;
}


input,
button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}



/* Responsive Breakpoints  */
@media (min-width: 1441px) {
    .page-container {
        width: 1440px;
        margin: auto;
    }
}

/* (max-width: 1440px) */
@media (min-width: 800px) {

    /* 1440px included - from 800px tay go up. */
    hr {
        display: none;
    }

    /* Biggest Parent (Section)  */
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3%;
        padding-left: 6.7%;
        padding-right: 6.7%;
        margin-bottom: 7%;
    }

    .content-container {
        padding-right: 6.7%;
        padding-left: 6.7%;
        width: 100%;
        margin-bottom: 10%;
    }

    footer {
        padding-right: 6.7%;
        padding-left: 6.7%;
        width: 100%;
        background: #121219;

    }

    /* Bigger Parents */
    .first-section-parent {
        margin-bottom: 3%;
    }

    .second-section-parent {
        margin-bottom: 10%;
    }

    .third-section-parent {
        margin-bottom: 10%;
    }

    .fourth-section-parent {
        margin-bottom: 20%;
    }

    .faq-container {
        margin-bottom: 0%;
    }

    /* —————————————— HEADER ————————————————— */
    header #logo {
        font-size: 43px;
    }

    header .nav-links {
        display: none;
    }

    header .desktop-nav-links {
        font-size: 26px;
        display: flex;
        justify-content: space-between;
        width: 300px;
        /* I don't want it to clamp */
    }

    .desktop-nav-links #start-project-btn {
        border-bottom: 2px solid #fff;
    }

    .desktop-nav-links li {
        display: inline-block;
        padding-top: 23px;
        position: relative;
    }


    .desktop-nav-links a::before {
        content: '';
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 56px;
        width: 0%;
        -webkit-transition: all ease-in-out 250ms;
        transition: all ease-in-out 250ms;
        background: red;
    }


    .desktop-nav-links a:hover::before {
        width: 100%;
    }


    /*————————— FIRST SECTION ————————————*/
    .first-section-parent h1 {
        width: 97%;
        font-family: Didot;
        font-weight: normal;
        font-size: 100px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
        margin-bottom: 3%;
    }

    .first-section-parent p {
        width: 70%;
        line-height: 2rem;
        font-family: Didot;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
    }

    .first-section-parent img[alt="circle"] {
        width: 25%;
        margin-left: 70%;
        animation: spin 5s linear infinite;
    }

    .first-section-parent #sideline {
        animation: slideUp 1s ease-in-out infinite forwards;
        margin-top: 10%;
    }


    /* ——————————— SECTION TWO ——————————————————— */
    .second-section-parent #tailor-title {
        width: 674px;
        font-family: Didot;
        font-weight: normal;
        font-size: 52px;
        letter-spacing: -0.01em;
        text-align: center;
        color: #fff;
        margin: auto;
        margin-bottom: 7%;
    }


    .second-section-parent .section-two {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
    }

    .second-section-parent .section-two .block {


        width: fit-content;
    }

    .second-section-parent .section-two .block img {
        margin-bottom: 10%;
    }

    .second-section-parent .section-two .block h3 {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 10%;
    }

    .second-section-parent .section-two .block p {
        width: 90%;
        font-family: Didot;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.01em;
        line-height: 36px;
        text-align: left;
        color: #fff;
    }



    /* ——————————— SECTION THREE ——————————————————— */
    .third-section-parent .section-three {

        justify-content: space-between !important;
    }


    .third-section-parent #we-ensure {
        width: 526px;
        font-family: Didot;
        font-weight: normal;
        font-size: 48px;
        letter-spacing: -0.01em;
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
    }


    .third-section-parent .section-three {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .third-section-parent .section-three .block-b {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
        width: 29%;
    }


    .third-section-parent .section-three .block-b h3 {
        font-family: Didot;
        font-weight: bold;
        font-size: 33px;
        text-align: center;
        color: #fff;
        margin-top: 9%;
        margin-bottom: 10%;
    }


    .section-three .block-b p {
        font-family: Didot;
        font-weight: normal;
        font-size: 19px;
        line-height: 36px;
        text-align: center;
        color: #fff;
    }


    .third-section-parent #we-help {
        width: 80%;
        font-family: Didot;
        font-weight: normal;
        font-size: 52px;
        letter-spacing: -0.01em;
        text-align: left;
        margin-bottom: 7%;
    }

    #get-pro {
        width: 50%;
        font-family: Didot;
        font-weight: normal;
        font-size: 29px;
        letter-spacing: -0.05em;
        text-align: left;
    }

    /* ——————————— SECTION FOUR ——————————————————— */
    .fourth-section-parent h2 {
        font-family: Didot;
        font-weight: normal;
        font-size: 70px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;
        text-align: center;
        margin-bottom: 10%;
    }


    .fourth-section-parent .block-c-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
        grid-row-gap: 5%;
        width: 100%;

    }


    .fourth-section-parent .block-c-grid .block-c {
        width: 100%;

    }

    .fourth-section-parent .block-c h2 {
        width: 80%;
        font-family: Didot;
        font-weight: normal;
        font-size: 47px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .fourth-section-parent .block-c p {
        width: 90%;
        font-family: Didot;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.01em;
        line-height: 32px;
        text-align: left;
        color: #fff;
    }

    .fourth-section-parent .block-c ul {
        margin-top: 6%;
    }

    .fourth-section-parent .block-c ul li {
        font-family: Didot;
        font-weight: normal;
        font-size: 21px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
        margin-bottom: 4%;
    }



    /* ——————————— FOOTER ——————————————————— */
    footer .top-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 3%;
        padding-bottom: 4%;
    }


    footer .top-footer .first-block div {
        margin-bottom: 10%;
    }


    footer .top-footer .first-block div p {
        width: 89%;
        font-family: Didot;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        line-height: 29px;
        text-align: left;
        color: #fff;

    }

    .footer-three {
        width: 21%;
        white-space: nowrap;

    }

    .first-block {
        width: 34%;
    }

    .top-footer .footer-five {
        display: flex;
        justify-content: space-between;
        width: 29%;
    }

    .footer-four p {
        line-height: 36px;
    }

    .footer-five ul li {
        margin-bottom: 15%;
    }

    .social {
        margin-bottom: 20%;
        margin-top: 10%;
        width: 135px;
        /* Stays fixed */
        display: flex;
        justify-content: space-between;
    }

    .bottom-footer .footer-six {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 2%;
    }

    .bottom-footer .footer-six .footer-six-text p {
        margin-bottom: 10px;
    }

    #top {
        pointer-events: all;

    }

    #ulric {
        color: #FFFF05;
    }
}


/* (max-width: 1024px) */
@media (max-width: 1024px) {

    /*————————— FIRST SECTION ————————————*/
    .first-section-parent h1 {
        width: 83%;
        font-size: 63px;
        letter-spacing: -0.05em;
        margin-bottom: 3%;
    }

    .first-section-parent p {
        width: 70%;
        line-height: 2rem;
        font-size: 22px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
    }


    /* ——————————— SECTION TWO ——————————————————— */
    .second-section-parent #tailor-title {
        width: 674px;
        font-size: 40px;
    }


    .second-section-parent .section-two .block h3 {
        font-size: 27px;
    }

    .second-section-parent .section-two .block p {
        width: 92%;
        font-size: 18px;
        line-height: 36px;
    }



    /* ——————————— SECTION THREE ——————————————————— */
    .third-section-parent #we-ensure {
        width: 526px;
        font-size: 36px;
        margin-bottom: 10%;
    }


    .third-section-parent .section-three .block-b h3 {
        font-size: 28px;
        margin-top: 21%;
        margin-bottom: 10%;
    }


    .section-three .block-b p {
        font-size: 18px;
        line-height: 36px;
    }


    .third-section-parent #we-help {
        width: 80%;
        font-size: 38px;
    }

    #get-pro {
        width: 50%;
        font-size: 27px;
    }


    /* ——————————— SECTION FOUR ——————————————————— */
    .fourth-section-parent h2 {
        font-size: 55px;
        margin-bottom: 10%;
    }


    .fourth-section-parent .block-c h2 {
        width: 80%;
        font-size: 34px;
    }

    .fourth-section-parent .block-c p {
        width: 90%;
        font-size: 17px;
        line-height: 32px;
    }

    .fourth-section-parent .block-c ul {
        margin-top: 6%;
    }

    .fourth-section-parent .block-c ul li {
        font-size: 17px;
        margin-bottom: 4%;
    }

    /* ——————————— FOOTER ——————————————————— */
    footer .top-footer div h2 {
        font-size: 23px;
    }
}


@media (max-width: 801px) {

    /* Biggest Parent */
    header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100%;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
        z-index: 10;
        background: #000;
        top: 0;
    }

    .content-container {
        padding-right: 6.7%;
        padding-left: 6.7%;
        width: 100%;
        margin-top: 130px;
        /* I want it fixed and not moving */
    }


    footer {
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 6.7%;
        padding-right: 6.7%;
    }

    /* Bigger Parents */
    .first-section-parent {
        margin-bottom: 30%;
    }

    .second-section-parent {
        margin-bottom: 10%;
    }

    .third-section-parent {
        margin-bottom: 7%;
    }

    .fourth-section-parent {
        margin-bottom: 30%;
    }

    .faq-container {
        margin-bottom: 15%;
    }

    /* ———————————— Header (Order) —————————————— */
    body {
        overflow-x: hidden;
    }

    .desktop-nav-links {
        display: none;
    }

    #logo {
        font-family: Didot;
        font-weight: bold;
        font-size: 36px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
        margin-left: 6.7%;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.2s ease;
    }

    .hamburger div {
        width: 48px;
        height: 1px;
        background: #f2f5f7;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .hamburger {
        display: block;
    }


    .nav-links {
        /*   position: fixed; */
       /*  display: block; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #000;
        /*  height: 100vh; */
        /*  clip-path: circle(50px at 90% -20%); */
        /*    -webkit-clip-path: circle(50px at 90% -10%); */
     
        /*   margin-top: 90vh; */
        transition: all 600ms ease-out;
        pointer-events: none;
        width: 100vw;
        margin-left: 100%;
        font-size: 28px;
        padding-top: 210%;
        padding-bottom: 60%;
       /*  height: 200vh; */
    }

    .nav-links li{
        margin-bottom: 20%;
    }


    .nav-links li a {
        text-decoration: none;
      /*   margin: 0 1.7vw; */
       /*  background: green; */
        
    }

    /* 
    .nav-links li a:hover {
        color: white;
        border-bottom: 3px solid yellow;
        transition: all 1s ease-in-out;
    }

    .nav-links li {
        position: relative;
    }
 */
    .nav-links.open {
        /* clip-path: circle(1000px at 90% -10%); */
        /* -webkit-clip-path: circle(1000px at 30% -10%);  */
        /*  margin-top: 55vh;
        /* height: 100%; */
        pointer-events: all;
        margin-left: -100%;
    }

    /* 
    .nav-links li a::before {
        content: "";
        display: block;
        height: 2px;
        width: 0%;
        background-color: #fff;
        position: absolute;
        top: 95%;
        transition: all ease-in-out 250ms;
        margin: 0 0 0 10%;
    } */

    /*  
    .nav-links li a:hover::before {
        width: 80%;
    }*/


    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.3s ease 0.1s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.3s ease 0.2s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.3s ease 0.4s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.3s ease 0.5s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.3s ease 0.6s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.3s ease 0.7s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.3s ease 0.9s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }

    /*————————— FIRST SECTION ————————————*/
    .first-section-parent h1 {
        width: 93%;
        font-size: 52px;
        font-weight: normal;
        margin-bottom: 25px;
        /* I want it fixed */
    }

    .first-section-parent p {
        width: 70%;
        line-height: 2rem;
        font-size: 22px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
        margin-bottom: 10%;
    }

    img[alt="circle"] {
        position: absolute;
        right: 10%;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 6s linear infinite;
    }

    #sideline {
        margin-top: 150px;
        animation: slideUp 4s ease-out infinite;
        animation-fill-mode: both;
    }



    /* ——————————— SECTION TWO ——————————————————— */
    .second-section-parent #tailor-title {
        width: 70%;
        font-size: 42px;
        margin-bottom: 10%;
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
    }


    .second-section-parent .section-two .block h3 {
        font-size: 32px;
        margin-top: 21px;
        margin-bottom: 28px;
    }

    .second-section-parent .section-two .block p {
        width: 92%;
        font-size: 20px;
        line-height: 36px;
    }


    .block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    /* ——————————— SECTION THREE ——————————————————— */
    .third-section-parent #we-ensure {
        width: 70%;
        font-size: 36px;
        margin-bottom: 10%;
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
    }


    #ensure-line {
        display: none;
    }

    .third-section-parent .section-three .block-b h3 {
        font-size: 38px;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .section-three .block-b p {
        font-size: 20px;
        line-height: 38px;
        width: 85%;
        text-align: center;
    }


    .third-section-parent #we-help {
        width: 90%;
        font-size: 42px;
        margin-bottom: 10%;
        font-weight: normal;
    }


    #get-pro {
        width: 50%;
        font-size: 27px;
        margin-bottom: 7%;
    }


    .section-three {
        margin-top: 15%;
    }

    .section-three .block-b {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
    }


    /* ——————————— SECTION FOUR ——————————————————— */
    .fourth-section-parent #capabilities {
        font-size: 48px;
        margin-bottom: 10%;
        text-align: center;
    }


    .fourth-section-parent .block-c h2 {
        width: 80%;
        font-size: 38px;
        margin-bottom: 7%;
    }

    .fourth-section-parent .block-c p {
        width: 90%;
        font-size: 22px;
        line-height: 32px;
    }

    .fourth-section-parent .block-c ul {
        margin-top: 6%;
    }

    .fourth-section-parent .block-c ul li {
        font-size: 22px;
        margin-bottom: 4%;
        margin-bottom: 20px;
    }

    .block-c {
        margin-bottom: 15%;
    }


    /* ———————— FAQ —————————————— */
    .faq-container h2 {
        margin-bottom: 40%;
    }


    /* ——————————— FOOTER ——————————————————— */
    footer .top-footer div h2 {
        font-size: 30px;
        margin-bottom: 5%;
    }


    .top-footer .first-block p {
        width: 80%;
        font-size: 23px;
    }


    .footer-one,
    .footer-two,
    .footer-three,
    .footer-four {
        margin-bottom: 10%;
    }



    .social {
        margin-top: 7%;
        margin-bottom: 10%;
        width: 20%;
        justify-content: space-between;
        display: flex;
    }

    .footer-four p {
        line-height: 40px;
        font-size: 23px;
    }

    .footer-five {
        margin-bottom: 10%;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    .footer-five ul li {
        margin-bottom: 15px;
        font-size: 23px;
    }



    .bottom-footer .footer-six {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #ulric {
        color: yellow;
    }

    /* END */



    /* —————————— ANIMATION ——————— */
    .toggle .line1 {
        transform: rotate(-45deg) translate(1px, 6px);
    }

    .toggle .line2 {
        transition: all 0.7s ease;
        width: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(1px, -5px);
    }
}


@media(max-width:425px) {

    /* ——————————— SECTION THREE ——————————————————— */
    #get-pro {
        width: 100%;
        font-size: 27px;
        margin-bottom: 7%;
    }

}



/* Mobile First */
@media(max-width:375px) {

    /* Big Parents */
    .content-container {
        padding-right: 6.7%;
        padding-left: 6.7%;
        width: 100%;
    }

    footer {
        background: #171F2F;
        padding-right: 6.7%;
        padding-left: 6.7%;
        width: 100%;
    }

    /* Header */

    /* First Section — Hero Section*/
    #main-title {
        width: 96%;
        font-family: Didot;
        font-weight: normal;
        font-size: 48px;
        letter-spacing: -0.05em;
        text-align: left;
        color: #fff;
        margin-bottom: 14%;
    }

    #subtitle {
        font-family: Didot;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.04em;
        line-height: 27px;
        text-align: left;
        color: #fff;
        margin-bottom: 10%;
        width: 100%;
    }

    img[alt="circle"] {
        position: absolute;
        right: 10%;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 6s linear infinite;
    }

    #sideline {
        margin-top: 150px;
        animation: slideUp 4s ease-out infinite;
        animation-fill-mode: both;
    }


    /* ———— Second Section ——————*/
    .second-section-parent #tailor-title {
        font-family: Didot;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.01em;
        line-height: 40px;
        text-align: center;
        color: #fff;
        width: 100%;
    }


    #first-line,
    #gold-standard {
        margin-bottom: 40px;
        border-color: #343434;
    }

    .section-two {
        display: flex;
        flex-direction: column;
    }

    .second-section-parent .section-two .block h3 {
        font-family: Didot;
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
    }

    .section-two .block p {
        font-family: Didot;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.01em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        width: 100%;

    }

    /* ———————————— Third Section ——————————————— */
    .third-section-parent #we-ensure {
        font-family: Didot;
        font-weight: normal;
        font-size: 28px;
        letter-spacing: -0.01em;
        line-height: 36px;
        text-align: center;
        color: #fff;
        width: 94%;
    }


    .third-section-parent #ensure-line {
        display: block;
        width: 20px;
        margin: auto;
    }

    .section-three {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .block-b {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .third-section-parent .section-three .block-b h3 {
        font-family: Didot;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
    }

    .section-three .block-b p {
        width: 95%;
        font-family: Didot;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.01em;
        line-height: 26px;
        text-align: center;
        color: #fff;
    }

    .third-section-parent #we-help {
        font-family: Didot;
        font-weight: 400;
        font-size: 32px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #fff;
        margin-bottom: 10%;
    }

    .third-section-parent #get-pro {
        font-family: "Didot";
        font-weight: normal;
        font-size: 22px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #fff;
        margin-bottom: 30%;
    }

    #short-line {
        width: 20px;
        margin: auto;
    }


    /* ——————————— Four Section ———————————— */
    .fourth-section-parent #capabilities {
        font-size: 31px;
        text-align: center;
        margin-bottom: 15%;
    }

    .fourth-section-parent .block-c h2 {
        font-size: 25px;
    }

    .fourth-section-parent .block-c p {
        font-size: 20px;
    }

    /* —————————————— Footer ———————— */
    footer div h2 {
        font-family: Didot;
        font-weight: bold;
        font-size: 23px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;
    }

    footer .social {
        display: flex;
        width: 130px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20%;
    }

    footer .top-footer div p,
    footer .top-footer div a,
    footer .top-footer div ul li,
    footer .top-footer .first-block div p {
        font-size: 18px;
        line-height: 30px;
    }

    footer .top-footer div h2,
    footer .top-footer div div h2 {
        font-size: 27px;
    }

    .footer-five {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-six {
        display: flex;
        justify-content: space-between;
    }

    .footer-six-text {
        font-family: Didot;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #fff;
    }


    .footer-six-text p {
        margin-bottom: 7%;
    }


    #ulric {
        color: #FFFF05;
    }
}




/* ANIMATION */
@keyframes spin {
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}


@keyframes slideUp {
    0% {
        transform: translateY(0px);
        -moz-transform: translateY(0px);
    }

    25% {
        transform: translateY(5px);
        -moz-transform: translateY(5px);
    }

    50% {
        transform: translateY(9px);
        -moz-transform: translateY(9px);
    }

    100% {
        transform: translateY(0px);
        -moz-transform: translateY(0px);
    }
}
