@font-face {
  font-family: 'Didot-Bold';
  src: url('Didot-Bold.woff2') format('woff2');
  font-weight: bold;
}


@font-face {
  font-family: 'Didot';
  src: url('Didot.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Didot-Italic';
  src: url('Didot-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}